[submodule "docs/website/themes/hugo-cite"]
	path = docs/website/themes/hugo-cite
	url = https://github.com/loup-brun/hugo-cite.git
[submodule "docs/website/themes/book"]
	path = docs/website/themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "model-api"]
	path = model-api
	url = git@gitlab.com:nps-ima/uplands-ci.git
