[submodule "docs/website/themes/hugo-cite"]
	path = docs/website/themes/hugo-cite
	url = https://github.com/loup-brun/hugo-cite.git
[submodule "docs/website/themes/book"]
	path = docs/website/themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "model-api"]
	path = model-api
	url = https://gitlab.com/nps-ima/uplands-ci.git
[submodule "docs/tex/status-and-trends-manuscript"]
	path = docs/tex/status-and-trends-manuscript
	url = https://git.overleaf.com/5f80c7b2ed36a80001dae03e
	update = none
