# Hugo
public
resources

# RStudio
.config
.local
rstudio
.Rprofile
!assets/.Rprofile

# Misc
.cache
assets/_inits
assets/_output
assets/*-output
bin
debug
.bash_history
.DS_Store
tmp
.Rhistory
.wget-hsts

.vscode/
